@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --rojo: #a02d3d;
  --dorado: #d5b93a;
  --dark: #202020;
  --footer: #202020;
  --light: #fff;
}

body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.content {
  margin: auto;
  width: 1080px;
}

/* CABECERA */

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-top {
  background-color: var(--dark);
  color: var(--light);
}

#nav-top ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

#nav-top ul li {
  padding: 0.5rem;
}

#main-header {
  background-color: var(--dorado);
  padding: 1rem 0;
}

.selected {
  background-color: var(--rojo);
}

/* SLIDER  */

/* CONTENIDO */

#main-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.servicios-item {
  width: 200px;
  height: 30px;
  background-color: var(--rojo);
  color: white;
  border-radius: 0.5rem 1rem 0.5rem 1rem;
  padding: 2rem;
  text-align: left;
  transition: filter 0.3s ease;
  box-shadow: 2px 2px 0px 1px black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios-item:hover {
  box-shadow: 0px 0px 0px 0px;
  margin-top: -2px;
  filter: brightness(0.8);
}

/* PIE DE PAGINA */

footer {
  background-color: var(--footer);
  color: var(--light);
}

footer .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer .content section {
  padding: 1rem;
}

footer nav {
  background-color: black;
  padding: 1rem;
  margin: auto;
  text-align: center;
}
